on:
  pull_request:
    paths:
      - ".github/workflows/check.yaml"

  schedule:
    - cron: "0 4 * * *"

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Extract current version
        id: current
        run: |
          VERSION=`cat aur-timeular/PKGBUILD | grep 'pkgver=' | sed -e 's/pkgver=//'`
          echo "Current version ${VERSION}"
          echo "::set-output name=version::${VERSION}"

      - name: Extract latest version
        id: latest
        run: |
          wget --no-verbose https://s3.amazonaws.com/timeular-desktop-packages/linux/production/Timeular.AppImage
          chmod +x Timeular.AppImage
          ./Timeular.AppImage --appimage-extract
          VERSION=`cat squashfs-root/timeular.desktop | grep X-AppImage-Version | sed -e 's/[^=]\+=\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/'`
          echo "Latest version ${VERSION}"
          echo "::set-output name=version::${VERSION}"

      - name: Run unit tests
        if: steps.current.outputs.version != steps.latest.outputs.version
        run: echo "Found a mismatch!"
