name: AUR package

on:
  pull_request:
    paths:
      - ".github/workflows/main.yaml"

  schedule:
    - cron: "0 4 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: reiemp/aur
    # By default $HOME will be overwritten
    # See https://github.com/actions/runner/issues/863 for details
    env:
      HOME: /home/aur

    steps:
      - name: Give all users permissions for GitHub workspace
        run: sudo chmod -R 777 `echo "${GITHUB_WORKSPACE}" | cut -d/ -f1-2`

      - name: Update and install additional packages
        run: |
          sudo pacman -Syu --noconfirm --noprogressbar
          sudo pacman -S --noconfirm --noprogressbar wget

      - name: Setup ssh
        run: echo "${{ secrets.AUR_SSH_PRIVATE_KEY }}" > ~/.ssh/aur

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: true
          path: "."

      - name: Setup git and submodule
        run: |
          git config --global user.name 'Philip Meier'
          git config --global user.email 'meier.philip@posteo.de'
          
          cd aur-timeular
          git fetch origin
          git checkout master
          git branch -u origin/master

      - name: Extract current version
        id: current
        working-directory: ./aur-timeular
        run: |
          VERSION=`cat PKGBUILD | grep 'pkgver=' | sed -e 's/pkgver=//'`
          echo "${VERSION}"
          echo "::set-output name=version::${VERSION}"

      - name: Extract latest version
        id: latest
        run: |
          wget --no-verbose https://s3.amazonaws.com/timeular-desktop-packages/linux/production/Timeular.AppImage
          chmod +x Timeular.AppImage
          ./Timeular.AppImage --appimage-extract

          VERSION=`cat squashfs-root/timeular.desktop | grep X-AppImage-Version | sed -e 's/[^=]\+=\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/'`
          echo "${VERSION}"
          echo "::set-output name=version::${VERSION}"

      - name: Update AUR package
        id: update
        if: steps.current.outputs.version != steps.latest.outputs.version
        working-directory: ./aur-timeular
        env:
          CURRENT_VERSION: ${{ steps.current.outputs.version }}
          LATEST_VERSION: ${{ steps.latest.outputs.version }}
        run: |
          sed -e "s/${CURRENT_VERSION}/${LATEST_VERSION}/" -i PKGBUILD
          sed -e 's/pkgrel=[0-9]\+/pkgrel=0/' -i PKGBUILD
          
          updpkgsums
          
          namcap PKGBUILD
          makepkg --printsrcinfo > .SRCINFO

          MSG="${CURRENT_VERSION} -> ${LATEST_VERSION}"
          echo "::set-output name=msg::${VERSION}"
          
          git commit -am "${MSG}"
          git diff HEAD~1
          git push

          cd ..
          git fetch origin

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update submodule ${{ steps.update.outputs.msg }}

      - uses: JasonEtco/create-an-issue@v2
        if: failure() && github.event_name == 'schedule'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          WORKFLOW: ${{ github.workflow }}
          JOB: ${{ github.job }}
          ID: ${{ github.run_id }}
        with:
          filename: .github/auto_update_failure_template.md
