name: AUR package

on:
  pull_request:
    paths:
      - ".github/workflows/main.yaml"

  schedule:
    - cron: "0 4 * * *"

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout AUR repository
        run: git clone https://aur.archlinux.org/timeular.git

      - name: Extract current version
        id: current
        working-directory: ./timeular
        run: |
          SHA512=`cat PKGBUILD | grep sha512sums | sed -e "s/sha512sums=('\([0-9a-f]\{128\}\)'/\1/"`
          echo "${SHA512}"
          echo "sha512=${SHA512}" >> $GITHUB_ENV
          
          VERSION=`cat PKGBUILD | grep 'pkgver=' | sed -e 's/pkgver=//'`
          echo "${VERSION}"
          echo "version=${VERSION}" >> $GITHUB_ENV

      - name: Extract latest version
        id: latest
        run: |
          wget --no-verbose https://s3.amazonaws.com/timeular-desktop-packages/linux/production/Timeular.AppImage
          
          SHA512=`sha512sum Timeular.AppImage | cut -d " " -f 1`
          echo "${SHA512}"
          echo "sha512=${SHA512}" >> $GITHUB_ENV
          
          chmod +x Timeular.AppImage
          ./Timeular.AppImage --appimage-extract

          VERSION=`cat squashfs-root/timeular.desktop | grep X-AppImage-Version | sed -e 's/[^=]\+=\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/'`
          echo "${VERSION}"
          echo "version=${VERSION}" >> $GITHUB_ENV

      - name: debug
        run: |
          echo $GITHUB_ENV
          cat $GITHUB_ENV
          echo ${{ steps.current.outputs }}
          echo ${{ steps.latest.outputs }}

      - name: Update PKGBUILD
        id: update
        if: steps.current.outputs.version != steps.latest.outputs.version
        working-directory: ./timeular
        env:
          CURRENT_SHA512: ${{ steps.current.outputs.sha512 }}
          LATEST_SHA512: ${{ steps.latest.outputs.sha512 }}
          CURRENT_VERSION: ${{ steps.current.outputs.version }}
          LATEST_VERSION: ${{ steps.latest.outputs.version }}
        run: |
          sed -e "s/${CURRENT_SHA512}/${LATEST_SHA512}/" -i PKGBUILD
          sed -e "s/${CURRENT_SHA512}/${LATEST_SHA512}/" -i .SRCINFO
          
          ESCAPED_CURRENT_VERSION = echo "${CURRENT_VERSION}" | sed -e 's/[]\/$*.^[]/\\&/g'
          
          sed -e "s/${ESCAPED_CURRENT_VERSION}/${LATEST_VERSION}/" -i PKGBUILD
          sed -e "s/${ESCAPED_CURRENT_VERSION}/${LATEST_VERSION}/" -i .SRCINFO
          
          sed -e 's/pkgrel=[0-9]\+/pkgrel=1/' -i PKGBUILD
          sed -e 's/pkgrel = [0-9]\+/pkgrel = 1/' -i .SRCINFO
          
          git diff || true

          MSG="${CURRENT_VERSION} -> ${LATEST_VERSION}"
          echo "${MSG}"
          echo "msg=${MSG}" >> $GITHUB_ENV

      - name: Update AUR package
        if: steps.update.outcome != 'skipped' && github.event_name == 'schedule'
        uses: KSXGitHub/github-actions-deploy-aur@v2.2.5
        with:
          pkgname: timeular
          pkgbuild: ./timeular/PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: ${{ steps.update.outputs.msg }}

      - name: Create an issue for failed scheduled workflow
        uses: JasonEtco/create-an-issue@v2
        if: failure() && github.event_name == 'schedule'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          WORKFLOW: ${{ github.workflow }}
          JOB: ${{ github.job }}
          ID: ${{ github.run_id }}
        with:
          filename: .github/auto_update_failure_template.md

      # The steps below have the same condition as the real ones above except the
      # schedule condition is flipped. This allows us to debug the workflow without
      # risking to actually do something that should only happen on a schedule.
      - name: (FAKE) Update AUR package
        if: steps.update.outcome != 'skipped' && github.event_name != 'schedule'
        run: exit 0

      - name: (FAKE) Create an issue for failed scheduled workflow
        if: failure() && github.event_name != 'schedule'
        run: exit 0
